<div class="container py-3">
    <main class="form-signin w-100 m-auto">
      <form [formGroup]="form">
        <h1 class="h3 mb-3 fw-normal">New post form</h1>

        <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              autocomplete="off"
              [class.is-invalid]="title.invalid && title.touched"
              [class.is-valid]="title.valid && title.touched"
            />
            <label for="floatingInput">Title</label>
            <div
              *ngIf="title.invalid && title.touched"
              class="invalid-feedback text-danger"
            >
              <div *ngIf="title.errors?.['required']">Title is required</div>
              <div *ngIf="title.errors?.['title']">Please fill a good title</div>
            </div>
        </div>

        <div class="form-floating my-3">
            <input 
              type="text" 
              class="form-control"
              id="floatingInput"
              autocomplete="off"
              formControlName="category"
              [class.is-invalid]="category.invalid"
              [class.is-valid]="category.valid"
            />
            <label for="floatingInput">Category</label>
            <div
              *ngIf="category.invalid && category.touched"
              class="invalid-feedback text-danger"
            >
              <div *ngIf="category.errors?.['required']">A category is required</div>
              <div *ngIf="category.errors?.['content']">Please fill a valid email</div>
            </div>
        </div>

        <div class="form-floating my-3">
            <input 
              type="text" 
              class="form-control"
              id="floatingInput"
              autocomplete="off"
            />
            <label for="floatingInput">Content</label>
            <div
              *ngIf="title.invalid && title.touched"
              class="invalid-feedback text-danger"
            >
              <div *ngIf="title.errors?.['required']">Email is required</div>
              <div *ngIf="title.errors?.['content']">Please fill a valid email</div>
            </div>
        </div>

        <div class="form-group my-3">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <!-- <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->

        <!-- <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            autocomplete="off"
            placeholder="name@example.com"
            formControlName="email"
            [class.is-invalid]="email.invalid && email.touched"
            [class.is-valid]="email.valid && email.touched"
          />
          <label for="floatingInput">Email address</label>
          <div
            *ngIf="email.invalid && email.touched"
            class="invalid-feedback text-danger"
          >
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Please fill a valid email</div>
          </div>
        </div>
        <div class="form-floating my-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            formControlName="password"
            [class.is-invalid]="password.invalid && password.touched"
            [class.is-valid]="password.valid && password.touched"
          />
          <label for="floatingPassword"> Password</label>
  
          <div
            *ngIf="password.invalid && password.touched"
            class="invalid-feedback text-danger"
          >
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['missingUpperCase']">
              Password should contain at least 1 upper case letter
            </div>
            <div *ngIf="password.errors?.['missingLowerCase']">
              Password should contain at least 1 lower case letter
            </div>
            <div *ngIf="password.errors?.['missingNumeric']">
              Password should contain at least 1 number
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password should be 8 characters or more
            </div>
          </div>
        </div>

   -->
        <button
          [disabled]="!form.valid"
          class="btn btn-primary w-100"
          type="button"
        >
          Post
        </button>
      </form>
    </main>
  </div>
  